.tag-with-x {
  align-items: center;
  cursor: pointer;
  height: 16px;
  background: rgba(137, 142, 255, 0.8);
  border-radius: 4px;
  color: white;
  padding: 4px 4px 4px 8px;
  font-size: 12px;
  font-family: Roboto-Regular;
  font-weight: 400;
}
