* {
    color: inherit;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    font-family: "PingFang SC Regular";
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: "Broadway";
    src: url("~@/assets/fonts/bro.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Monotype";
    src: url("~@/assets/fonts/monotype.ttf");
    font-weight: normal;
    font-style: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
}
.createFollowCheck input[type=“number”] {
-moz-appearance: textfield;
}

html,
body{
    height: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

body #nprogress .bar{
    background: #c61e1e;
}