<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buyu_paotaizidan_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,98}</string>
                <key>spriteSourceSize</key>
                <string>{55,98}</string>
                <key>textureRect</key>
                <string>{{248,131},{55,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyu_paotaizidan_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,102}</string>
                <key>spriteSourceSize</key>
                <string>{63,102}</string>
                <key>textureRect</key>
                <string>{{1,168},{63,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buyu_paotaizidan_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,137}</string>
                <key>spriteSourceSize</key>
                <string>{66,137}</string>
                <key>textureRect</key>
                <string>{{140,1},{66,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyu_paotaizidan_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,128}</string>
                <key>spriteSourceSize</key>
                <string>{56,128}</string>
                <key>textureRect</key>
                <string>{{208,1},{56,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyu_paotaizidan_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,113}</string>
                <key>spriteSourceSize</key>
                <string>{65,113}</string>
                <key>textureRect</key>
                <string>{{339,76},{65,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buyu_paotaizidan_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,149}</string>
                <key>spriteSourceSize</key>
                <string>{69,149}</string>
                <key>textureRect</key>
                <string>{{69,1},{69,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyu_paotaizidan_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,141}</string>
                <key>spriteSourceSize</key>
                <string>{75,141}</string>
                <key>textureRect</key>
                <string>{{105,152},{75,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buyu_paotaizidan_7501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,124}</string>
                <key>spriteSourceSize</key>
                <string>{73,124}</string>
                <key>textureRect</key>
                <string>{{339,1},{73,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buyu_paotaizidan_7502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,126}</string>
                <key>spriteSourceSize</key>
                <string>{71,126}</string>
                <key>textureRect</key>
                <string>{{266,1},{71,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyu_paotaizidan_7503.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,126}</string>
                <key>spriteSourceSize</key>
                <string>{71,126}</string>
                <key>textureRect</key>
                <string>{{305,143},{71,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buyu_paotaizidan_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,165}</string>
                <key>spriteSourceSize</key>
                <string>{66,165}</string>
                <key>textureRect</key>
                <string>{{1,1},{66,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buyu_paotaizidan.png</string>
            <key>size</key>
            <string>{464,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab4362f9218894b4b573b579609499d3:dba49c2b4965303441ae1d3dc09f7acb:ff3993512be0621517f22c5b78c2726c$</string>
            <key>textureFileName</key>
            <string>buyu_paotaizidan.png</string>
        </dict>
    </dict>
</plist>
