<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish23_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{157,77}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{157,77}}</string>
                <key>sourceSize</key>
                <string>{161,77}</string>
            </dict>
            <key>fish23_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,163},{157,71}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{157,71}}</string>
                <key>sourceSize</key>
                <string>{161,77}</string>
            </dict>
            <key>fish23_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{157,69}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{157,69}}</string>
                <key>sourceSize</key>
                <string>{161,77}</string>
            </dict>
            <key>fish23_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{161,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{161,69}}</string>
                <key>sourceSize</key>
                <string>{161,77}</string>
            </dict>
            <key>fish23_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{155,69}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{155,69}}</string>
                <key>sourceSize</key>
                <string>{161,77}</string>
            </dict>
            <key>fish23_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{159,71}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{159,71}}</string>
                <key>sourceSize</key>
                <string>{161,77}</string>
            </dict>
            <key>fish23_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,165},{159,71}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{159,71}}</string>
                <key>sourceSize</key>
                <string>{161,77}</string>
            </dict>
            <key>fish23_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{161,71}}</string>
                <key>sourceSize</key>
                <string>{161,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish23.png</string>
            <key>size</key>
            <string>{219,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2afd17cc9ed560e0fc3580aa625d279$</string>
            <key>textureFileName</key>
            <string>fish23.png</string>
        </dict>
    </dict>
</plist>
