<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish40_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1808},{547,214}}</string>
                <key>offset</key>
                <string>{23,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,7},{547,214}}</string>
                <key>sourceSize</key>
                <string>{605,256}</string>
            </dict>
            <key>fish40_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,662},{561,190}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,34},{561,190}}</string>
                <key>sourceSize</key>
                <string>{605,256}</string>
            </dict>
            <key>fish40_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1227},{557,190}}</string>
                <key>offset</key>
                <string>{18,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,35},{557,190}}</string>
                <key>sourceSize</key>
                <string>{605,256}</string>
            </dict>
            <key>fish40_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,662},{563,190}}</string>
                <key>offset</key>
                <string>{15,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,42},{563,190}}</string>
                <key>sourceSize</key>
                <string>{605,256}</string>
            </dict>
            <key>fish40_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1237},{569,200}}</string>
                <key>offset</key>
                <string>{12,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,38},{569,200}}</string>
                <key>sourceSize</key>
                <string>{605,256}</string>
            </dict>
            <key>fish40_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{571,214}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{571,214}}</string>
                <key>sourceSize</key>
                <string>{605,256}</string>
            </dict>
            <key>fish40_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{563,222}}</string>
                <key>offset</key>
                <string>{15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,25},{563,222}}</string>
                <key>sourceSize</key>
                <string>{605,256}</string>
            </dict>
            <key>fish40_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{571,218}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{571,218}}</string>
                <key>sourceSize</key>
                <string>{605,256}</string>
            </dict>
            <key>fish40_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{573,208}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,29},{573,208}}</string>
                <key>sourceSize</key>
                <string>{605,256}</string>
            </dict>
            <key>fish40_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1237},{569,196}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,34},{569,196}}</string>
                <key>sourceSize</key>
                <string>{605,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish40.png</string>
            <key>size</key>
            <string>{602,2024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0be1e405965cc2b221e26733d5e0ff4d:2d00b2fc75fc354bb6314c47d1c81d56:38cfe59ae89e71da552b04bd2190ad40$</string>
            <key>textureFileName</key>
            <string>fish40.png</string>
        </dict>
    </dict>
</plist>
