<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove_001_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{87,44}</string>
                <key>spriteSourceSize</key>
                <string>{87,46}</string>
                <key>textureRect</key>
                <string>{{635,186},{87,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove_002_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{81,48}</string>
                <key>spriteSourceSize</key>
                <string>{85,60}</string>
                <key>textureRect</key>
                <string>{{552,186},{81,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove_003_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{159,77}</string>
                <key>spriteSourceSize</key>
                <string>{161,77}</string>
                <key>textureRect</key>
                <string>{{1539,148},{159,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove_004_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{129,145}</string>
                <key>spriteSourceSize</key>
                <string>{135,145}</string>
                <key>textureRect</key>
                <string>{{1691,1},{129,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove_005_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{297,133}</string>
                <key>spriteSourceSize</key>
                <string>{313,147}</string>
                <key>textureRect</key>
                <string>{{1238,1},{297,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove_006_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,2}</string>
                <key>spriteSize</key>
                <string>{392,183}</string>
                <key>spriteSourceSize</key>
                <string>{450,191}</string>
                <key>textureRect</key>
                <string>{{552,1},{392,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove_007_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{236,290}</string>
                <key>spriteSourceSize</key>
                <string>{260,290}</string>
                <key>textureRect</key>
                <string>{{946,1},{236,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishMove_008_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{152,130}</string>
                <key>spriteSourceSize</key>
                <string>{154,132}</string>
                <key>textureRect</key>
                <string>{{1537,1},{152,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove_009_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,14}</string>
                <key>spriteSize</key>
                <string>{549,216}</string>
                <key>spriteSourceSize</key>
                <string>{605,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{549,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove_010_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,6}</string>
                <key>spriteSize</key>
                <string>{299,91}</string>
                <key>spriteSourceSize</key>
                <string>{335,135}</string>
                <key>textureRect</key>
                <string>{{1238,136},{299,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish_move1.png</string>
            <key>size</key>
            <string>{1821,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9feceb45ff82807132051ed8c9549acc:be3dd02d26f864852fa813feb4a0de21:28b6c507ccc73e3f36ae64eaec1c7ae2$</string>
            <key>textureFileName</key>
            <string>fish_move1.png</string>
        </dict>
    </dict>
</plist>
