<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish48_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,258},{150,128}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{150,128}}</string>
                <key>sourceSize</key>
                <string>{154,132}</string>
            </dict>
            <key>fish48_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{152,126}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{152,126}}</string>
                <key>sourceSize</key>
                <string>{154,132}</string>
            </dict>
            <key>fish48_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,130},{152,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{152,126}}</string>
                <key>sourceSize</key>
                <string>{154,132}</string>
            </dict>
            <key>fish48_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,132},{150,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{150,128}}</string>
                <key>sourceSize</key>
                <string>{154,132}</string>
            </dict>
            <key>fish48_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,262},{148,130}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{148,130}}</string>
                <key>sourceSize</key>
                <string>{154,132}</string>
            </dict>
            <key>fish48_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{152,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{152,128}}</string>
                <key>sourceSize</key>
                <string>{154,132}</string>
            </dict>
            <key>fish48_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{152,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{152,126}}</string>
                <key>sourceSize</key>
                <string>{154,132}</string>
            </dict>
            <key>fish48_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,128}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,128}}</string>
                <key>sourceSize</key>
                <string>{154,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish48.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:988fa454ff755e9893447856a4166838$</string>
            <key>textureFileName</key>
            <string>fish48.png</string>
        </dict>
    </dict>
</plist>
