<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish15_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{87,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{87,42}}</string>
                <key>sourceSize</key>
                <string>{87,46}</string>
            </dict>
            <key>fish15_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,46}}</string>
                <key>sourceSize</key>
                <string>{87,46}</string>
            </dict>
            <key>fish15_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{87,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{87,40}}</string>
                <key>sourceSize</key>
                <string>{87,46}</string>
            </dict>
            <key>fish15_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{87,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{87,36}}</string>
                <key>sourceSize</key>
                <string>{87,46}</string>
            </dict>
            <key>fish15_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{87,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{87,38}}</string>
                <key>sourceSize</key>
                <string>{87,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish15.png</string>
            <key>size</key>
            <string>{447,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edfbdf56c64d69f4b5847e06a57b69fa$</string>
            <key>textureFileName</key>
            <string>fish15.png</string>
        </dict>
    </dict>
</plist>
