<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish32_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{295,131}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{295,131}}</string>
                <key>sourceSize</key>
                <string>{313,147}</string>
            </dict>
            <key>fish32_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,135},{277,129}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,7},{277,129}}</string>
                <key>sourceSize</key>
                <string>{313,147}</string>
            </dict>
            <key>fish32_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{299,129}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{299,129}}</string>
                <key>sourceSize</key>
                <string>{313,147}</string>
            </dict>
            <key>fish32_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{303,133}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{303,133}}</string>
                <key>sourceSize</key>
                <string>{313,147}</string>
            </dict>
            <key>fish32_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{297,135}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{297,135}}</string>
                <key>sourceSize</key>
                <string>{313,147}</string>
            </dict>
            <key>fish32_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{283,139}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,3},{283,139}}</string>
                <key>sourceSize</key>
                <string>{313,147}</string>
            </dict>
            <key>fish32_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,135},{279,143}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,1},{279,143}}</string>
                <key>sourceSize</key>
                <string>{313,147}</string>
            </dict>
            <key>fish32_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,274},{275,139}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,3},{275,139}}</string>
                <key>sourceSize</key>
                <string>{313,147}</string>
            </dict>
            <key>fish32_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,137},{271,135}}</string>
                <key>offset</key>
                <string>{17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,5},{271,135}}</string>
                <key>sourceSize</key>
                <string>{313,147}</string>
            </dict>
            <key>fish32_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,280},{271,133}}</string>
                <key>offset</key>
                <string>{17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,5},{271,133}}</string>
                <key>sourceSize</key>
                <string>{313,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish32.png</string>
            <key>size</key>
            <string>{986,415}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:594d1a68b5d49171b589e9f6fbb81148$</string>
            <key>textureFileName</key>
            <string>fish32.png</string>
        </dict>
    </dict>
</plist>
