<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish35_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1465},{392,183}}</string>
                <key>offset</key>
                <string>{-16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{392,183}}</string>
                <key>sourceSize</key>
                <string>{450,191}</string>
            </dict>
            <key>fish35_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{398,173}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{398,173}}</string>
                <key>sourceSize</key>
                <string>{450,191}</string>
            </dict>
            <key>fish35_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1141},{398,171}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{398,171}}</string>
                <key>sourceSize</key>
                <string>{450,191}</string>
            </dict>
            <key>fish35_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{400,163}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{400,163}}</string>
                <key>sourceSize</key>
                <string>{450,191}</string>
            </dict>
            <key>fish35_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{402,157}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{402,157}}</string>
                <key>sourceSize</key>
                <string>{450,191}</string>
            </dict>
            <key>fish35_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,813},{400,151}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{400,151}}</string>
                <key>sourceSize</key>
                <string>{450,191}</string>
            </dict>
            <key>fish35_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1314},{394,149}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{394,149}}</string>
                <key>sourceSize</key>
                <string>{450,191}</string>
            </dict>
            <key>fish35_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{400,155}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{400,155}}</string>
                <key>sourceSize</key>
                <string>{450,191}</string>
            </dict>
            <key>fish35_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{402,159}}</string>
                <key>offset</key>
                <string>{-21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{402,159}}</string>
                <key>sourceSize</key>
                <string>{450,191}</string>
            </dict>
            <key>fish35_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,167}}</string>
                <key>offset</key>
                <string>{-21,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{402,167}}</string>
                <key>sourceSize</key>
                <string>{450,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish35.png</string>
            <key>size</key>
            <string>{406,1650}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd7701c79cf179d84f65ec794cc634c8:c09a818e41cabe4c2b6006a755ae9ed3:4cbc0783ba9a26cbc83142323defd3d9$</string>
            <key>textureFileName</key>
            <string>fish35.png</string>
        </dict>
    </dict>
</plist>
