<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish27_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,145}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{127,145}}</string>
                <key>sourceSize</key>
                <string>{135,145}</string>
            </dict>
            <key>fish27_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{125,135}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{125,135}}</string>
                <key>sourceSize</key>
                <string>{135,145}</string>
            </dict>
            <key>fish27_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{127,139}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{127,139}}</string>
                <key>sourceSize</key>
                <string>{135,145}</string>
            </dict>
            <key>fish27_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{127,127}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{127,127}}</string>
                <key>sourceSize</key>
                <string>{135,145}</string>
            </dict>
            <key>fish27_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,260},{125,115}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{125,115}}</string>
                <key>sourceSize</key>
                <string>{135,145}</string>
            </dict>
            <key>fish27_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,377},{125,107}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{125,107}}</string>
                <key>sourceSize</key>
                <string>{135,145}</string>
            </dict>
            <key>fish27_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,129},{123,105}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,21},{123,105}}</string>
                <key>sourceSize</key>
                <string>{135,145}</string>
            </dict>
            <key>fish27_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,254},{123,103}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,22},{123,103}}</string>
                <key>sourceSize</key>
                <string>{135,145}</string>
            </dict>
            <key>fish27_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{125,105}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,21},{125,105}}</string>
                <key>sourceSize</key>
                <string>{135,145}</string>
            </dict>
            <key>fish27_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,139},{125,119}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{125,119}}</string>
                <key>sourceSize</key>
                <string>{135,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish27.png</string>
            <key>size</key>
            <string>{365,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71e15073745c76ab6addb3ac3e497c12$</string>
            <key>textureFileName</key>
            <string>fish27.png</string>
        </dict>
    </dict>
</plist>
