<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish49_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,571},{297,89}}</string>
                <key>offset</key>
                <string>{-18,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{297,89}}</string>
                <key>sourceSize</key>
                <string>{335,135}</string>
            </dict>
            <key>fish49_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{297,85}}</string>
                <key>offset</key>
                <string>{-18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{297,85}}</string>
                <key>sourceSize</key>
                <string>{335,135}</string>
            </dict>
            <key>fish49_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{297,93}}</string>
                <key>offset</key>
                <string>{-18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{297,93}}</string>
                <key>sourceSize</key>
                <string>{335,135}</string>
            </dict>
            <key>fish49_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{295,113}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{295,113}}</string>
                <key>sourceSize</key>
                <string>{335,135}</string>
            </dict>
            <key>fish49_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,749},{295,129}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{295,129}}</string>
                <key>sourceSize</key>
                <string>{335,135}</string>
            </dict>
            <key>fish49_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{297,135}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{297,135}}</string>
                <key>sourceSize</key>
                <string>{335,135}</string>
            </dict>
            <key>fish49_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,995},{293,129}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{293,129}}</string>
                <key>sourceSize</key>
                <string>{335,135}</string>
            </dict>
            <key>fish49_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{299,127}}</string>
                <key>offset</key>
                <string>{-18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{299,127}}</string>
                <key>sourceSize</key>
                <string>{335,135}</string>
            </dict>
            <key>fish49_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{297,111}}</string>
                <key>offset</key>
                <string>{-18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{297,111}}</string>
                <key>sourceSize</key>
                <string>{335,135}</string>
            </dict>
            <key>fish49_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{297,93}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{297,93}}</string>
                <key>sourceSize</key>
                <string>{335,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish49.png</string>
            <key>size</key>
            <string>{303,1126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85c632a5f361d94b7a49b23c58b1a7b8:9632a3407fb5c9d7cae7f3ada85c0a68:2b79883566bb5930877781b606f61b55$</string>
            <key>textureFileName</key>
            <string>fish49.png</string>
        </dict>
    </dict>
</plist>
