<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>knapsack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,386},{154,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,156}}</string>
                <key>sourceSize</key>
                <string>{154,156}</string>
            </dict>
            <key>knapsack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,654},{120,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,119}}</string>
                <key>sourceSize</key>
                <string>{120,119}</string>
            </dict>
            <key>knapsack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{346,445}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,445}}</string>
                <key>sourceSize</key>
                <string>{346,445}</string>
            </dict>
            <key>knapsack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,318},{85,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,87}}</string>
                <key>sourceSize</key>
                <string>{85,87}</string>
            </dict>
            <key>knapsack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,2},{163,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,191}}</string>
                <key>sourceSize</key>
                <string>{163,191}</string>
            </dict>
            <key>knapsack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,898},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>knapsack_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,776},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>knapsack_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,896},{172,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,123}}</string>
                <key>sourceSize</key>
                <string>{172,123}</string>
            </dict>
            <key>knapsack_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,819},{177,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,127}}</string>
                <key>sourceSize</key>
                <string>{177,127}</string>
            </dict>
            <key>knapsack_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{175,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,126}}</string>
                <key>sourceSize</key>
                <string>{175,126}</string>
            </dict>
            <key>knapsack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,172},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>knapsack_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,544},{169,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,108}}</string>
                <key>sourceSize</key>
                <string>{169,108}</string>
            </dict>
            <key>knapsack_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,195},{165,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,99}}</string>
                <key>sourceSize</key>
                <string>{165,99}</string>
            </dict>
            <key>knapsack_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,449},{132,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,183}}</string>
                <key>sourceSize</key>
                <string>{132,183}</string>
            </dict>
            <key>knapsack_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,636},{135,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,181}}</string>
                <key>sourceSize</key>
                <string>{135,181}</string>
            </dict>
            <key>knapsack_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,195},{138,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,189}}</string>
                <key>sourceSize</key>
                <string>{138,189}</string>
            </dict>
            <key>knapsack_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,776},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>knapsack_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,897},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>knapsack_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{154,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,168}}</string>
                <key>sourceSize</key>
                <string>{154,168}</string>
            </dict>
            <key>knapsack_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,776},{54,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,63}}</string>
                <key>sourceSize</key>
                <string>{54,63}</string>
            </dict>
            <key>knapsack_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,407},{55,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,63}}</string>
                <key>sourceSize</key>
                <string>{55,63}</string>
            </dict>
            <key>knapsack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,449},{149,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,185}}</string>
                <key>sourceSize</key>
                <string>{149,185}</string>
            </dict>
            <key>knapsack_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,67},{54,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,63}}</string>
                <key>sourceSize</key>
                <string>{54,63}</string>
            </dict>
            <key>knapsack_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{55,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,63}}</string>
                <key>sourceSize</key>
                <string>{55,63}</string>
            </dict>
            <key>knapsack_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,508},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>knapsack_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,775},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>knapsack_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,362},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>knapsack_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,892},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>knapsack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,770},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>knapsack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,654},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>knapsack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,654},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>knapsack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,634},{134,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,132}}</string>
                <key>sourceSize</key>
                <string>{134,132}</string>
            </dict>
            <key>knapsack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,898},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>knapsack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{645,445}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,445}}</string>
                <key>sourceSize</key>
                <string>{645,445}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>H_knapsack.png</string>
            <key>size</key>
            <string>{1038,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0e5ba9578b9509e762332ad20726ef9:1d717fe6b81dbfcbfebd0290a5195ad5:79cbcac3e8a215db4d3cd80413183d81$</string>
            <key>textureFileName</key>
            <string>H_knapsack.png</string>
        </dict>
    </dict>
</plist>
