body {
  height: 100vh;
  background-repeat: no-repeat;
  background-image: linear-gradient(160deg, rgba(41, 255, 255,.5), #fff 50%);
  color: #222;
}

.flex {
  display: flex;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}



input, textarea {
  display: inline-block;
  height: 30px;
  width: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 16px;
}
input[type="radio"] {
  margin: 0 10px 0 0;
}

input[type="text"],input[type="number"],
textarea {
  width: 380px;
}

input:focus, textarea:focus {
  border: 1px solid rgb(0, 136, 255);
}

textarea {
  height: 120px;
  resize: none;
}


button {
  display: inline-block;
  width: 280px;
  height: 60px;
  background: #96e3fc;
  outline: none;
  border: 1px solid #0097c9;
  border-radius: 5px;
  font-size: 28px;
  font: bold;
  cursor: pointer;

}

button:disabled {
  background: #eee;
  color: #999;
  border-color: #888;
  cursor: not-allowed;
}

