.area {
  height: 23.2rem;
}
.request-button {
  user-select: none;
  line-height: 6.4rem;
  display: inline-block;
  cursor: pointer;
  margin: 12rem auto 0rem auto;
  width: 48rem;
  height: 6.4rem;
  border-width: 0px;
  color: white;
  font-size: 1.6rem;
  background: #F7931A;
  font-family: WorkSans-Regular_Bold, WorkSans;
  box-shadow: 0px 0px 16px 0px rgba(87, 48, 0, 0.2);
}
.request-button:hover {
  background: #fa9c2a;
}
.request-button:active {
  background: #fda539;
}
