
.nav {
	position: fixed;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	top: 0;
	background: #fff;
	color: #000;
	> div {
		padding: 0 20px;
	}
	a {
		margin: 0 10px;
		text-decoration:none;
	}
	a:hover {
		text-decoration:underline;
	}
	a:visited {
		color: #000;
		text-decoration:none;
	}
}

.body {
	padding-top: 50px;
}